In [20]:
import pandas as pd
import numpy as np

In [21]:
df=pd.read_csv('cars.csv')

In [22]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [23]:
df['owner'].value_counts()

First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: owner, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

In [31]:
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:4],df.iloc[:,4],test_size=0.2,random_state=12)

In [32]:
x_train,y_train

(           brand  km_driven    fuel         owner
 374        Volvo      20000  Diesel   First Owner
 721      Hyundai     120000  Petrol  Second Owner
 3933  Volkswagen      60000  Petrol  Second Owner
 6984    Mahindra     120000  Diesel   Third Owner
 5673      Toyota     120000  Diesel  Second Owner
 ...          ...        ...     ...           ...
 7409       Skoda     140000  Diesel   First Owner
 3325    Mahindra     120000  Diesel  Second Owner
 1414      Maruti      60000  Petrol   Third Owner
 5787   Chevrolet      80000  Diesel  Second Owner
 5963     Hyundai      46000  Diesel   First Owner

 [6502 rows x 4 columns],
 374     3800000
 721       80000
 3933     270000
 6984     500000
 5673     275000
          ...
 7409     295000
 3325     459999
 1414     114999
 5787     260000
 5963    1237000
 Name: selling_price, Length: 6502, dtype: int64)

In [48]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
transformer=ColumnTransformer(transformers=[
    ('tf1',OrdinalEncoder(categories=[['First Owner','Second Owner','Third Owner','Fourth & Above Owner','Test Drive Car']]),['owner']),
    ('tf2',OneHotEncoder(sparse=False,drop='first',dtype=int),['fuel'])
],remainder='passthrough')

In [49]:
data=transformer.fit_transform(x_train)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [50]:
pd.DataFrame(data)

        0  1  2  3           4       5
0     0.0  1  0  0       Volvo   20000
1     1.0  0  0  1     Hyundai  120000
2     1.0  0  0  1  Volkswagen   60000
3     2.0  1  0  0    Mahindra  120000
4     1.0  1  0  0      Toyota  120000
...   ... .. .. ..         ...     ...
6497  0.0  1  0  0       Skoda  140000
6498  1.0  1  0  0    Mahindra  120000
6499  2.0  0  0  1      Maruti   60000
6500  1.0  1  0  0   Chevrolet   80000
6501  0.0  1  0  0     Hyundai   46000

[6502 rows x 6 columns]